p {
    font-size: 1.5rem;
  }
  
  .jumbotron {
    padding-top: 10rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-image: url("resources/rocks.jpg");
    height: 100vh;
    overflow: hidden;
  }
  .yellow {
    background-color: #F4C95B;
  }

  .products {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row;  */

  }

  .row1,
   .row2 {
     display: flex;
     flex-direction: row; 
  } 