.container-fluid { 
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;

}
h1 {
  font-family: 'Oswald', sans-serif;
}
/*   
  .jumbotron {
    padding-top: 10rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    background-image: url("resources/rocks.jpg");
    height: 100vh;
    overflow: hidden;
  } */

  .jumbotron {
    margin-bottom: 0;
    text-align: center;
    padding-top: 6.5rem;

  }
  .pic {
    background-image: url("resources/rocks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;

  }
  .yellow {
    background-color: #F4C95B;
  }

.section1 {
  height: 50vh;
}
  .black {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .btn-warning {
    background-color: #F4C95B;
  }
.title {
  text-align: center;
}
.grey {
  background-color: #DCC78F;
  color: white;

}
  .products {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row;  */
  }

